* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("./img/bk2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bodyrow{
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }

  