/* Style the header */
.header {
    background: rgb(104, 71, 9);
    color: white;
  }
  
  .titlescore{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
